<span class="right"><button id="#retour" onclick="retour()">Retour</button></span>
<h1>Elo Moyen</h1>
<h3><%=eloMoy%></h3>

<h1>Joueurs</h1>
<table class="bordered" width="500px">
    <thead>
        <tr>
            <th>
                Pseudo
            </th>
            <th>
                Elo
            </th>
            <th>
                Games
            </th>
        </tr>
    </thead>
    <tbody>
        <%for(const player of players){%>
            <tr>
                <td>
                    <%=player.name%>
                </td>
                <td>
                    <%=player.rank%>
                </td>
                <td>
                    <%=player.games%>
                </td>
            </tr>
        <%}%>
    </tbody>
</table>

<%if(playersNotFound.length > 0){%>
    <h1>Joueurs non Trouvés</h1>
    <table class="bordered" width="500px">
        <thead>
            <tr>
                <th>
                    Pseudo
                </th>
                <th>
                    Elo
                </th>
                <th>
                    Games
                </th>
            </tr>
        </thead>
        <tbody>
            <%for(const player of playersNotFound){%>
                <tr>
                    <td>
                        <%=player.name%>
                    </td>
                    <td>
                        /
                    </td>
                    <td>
                        /
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
<%}%>