<link rel="stylesheet" type="text/css" href="./styles/resume.css" />
<table>
    <tr>
        <th width="80%">
            <h1>Florian TERRIER</h1>
            <%if(lang == "fr"){%>
                <p><%=age%> ans, né à Toulouse (France)</p>
            <%}else{%>
                <p><%=age%> years old, born at Toulouse (France)</p>
            <%}%>
            <p><a href="tel:+33619422408">&#x260E; 06 19 42 24 08</a></p>
            <p><a href="mailto:florian.leeroy@hotmail.com">&#x2709; florian.leeroy@hotmail.com</a></p>
        </th>
        <th id="imgProfil">
            <img src="./images/profil.png" alt="Profil" />
        </th>
    </tr>
</table>
<table>
    <tr>
        <td width="62%">
            <div id="diplomas">
                <%if(lang == "fr"){%>
                <h3>DIPLOMES</h3>
                <ul>
                    <li>
                        <p>
                            L3 STRI, UPSSITECH - Université Paul Sabatier<br/>
                            Aout 2020 - Toulouse (31)
                        </p>
                    </li>
                    <li>
                        <p>
                            DUT GEII, Université Paul Sabatier<br/>
                            Janvier 2019 - Toulouse (31)
                        </p>
                    </li>
                    <li>
                        <p>
                            Bac S SI, Spé Math - Lycée Pierre Paul Riquet<br/>
                            Juillet 2016 - Saint-Orens (31)
                        </p>
                    </li>
                </ul>
                <%}else{%>
                <h3>DIPLOMAS</h3>
                <ul>
                    <li>
                        <p>
                            L3 STRI, UPSSITECH - University Paul Sabatier<br/>
                            August 2020 - Toulouse (31)
                        </p>
                    </li>
                    <li>
                        <p>
                            DUT GEII, University Paul Sabatier<br/>
                            January 2019 - Toulouse (31)
                        </p>
                    </li>
                    <li>
                        <p>
                            Bac S SI, Spec Math - High School Pierre Paul Riquet<br/>
                            July 2016 - Saint-Orens (31)
                        </p>
                    </li>
                </ul>
                <%}%>
            </div><br/>
            <div id="experiences">
                <%if(lang == "fr"){%>
                <h3>EXPERIENCES PROFESSIONNELLES</h3>
                <ul>
                    <li>
                        <p>
                            Vacataire puis Alternant Développeur Web, MESRI<br/>
                            Février 2019 à Aujourd'hui
                        </p>
                    </li>
                    <li>
                        <p>
                            Vacataire Chaîne d'Inscription, Université Paul Sabatier<br/>
                            Été 2017 et Été 2018
                        </p>
                    </li>
                    <li>
                        <p>
                            Stage de 2ème année GEII, LAAS-CNRS<br/>
                            Avril à Juin 2018
                        </p>
                    </li>
                </ul>
                <%}else{%>
                <h3>PROFESSIONAL EXPERIENCES</h3>
                <ul>
                    <li>
                        <p>
                            Temporary worker then Work-study Web Developer, MESRI<br/>
                            February 2019 to Today
                        </p>
                    </li>
                    <li>
                        <p>
                            Temporary worker Registration Chain, University Paul Sabatier<br/>
                            Summer 2017 and Summer 2018
                        </p>
                    </li>
                    <li>
                        <p>
                            2nd year GEII Internship, LAAS-CNRS<br/>
                            April to June 2018
                        </p>
                    </li>
                </ul>
                <%}%>
            </div><br/>
            <div id="projects">
                <%if(lang == "fr"){%>
                <h3>PROJETS</h3>
                TODO
                <%}else{%>
                <h3>PROJECTS</h3>
                TODO
                <%}%>
            </div><br/>
        </td>
        <td>
            <div id="skills">
                <h3><%if(lang == "fr"){%>COMPETENCES<%}else{%>SKILLS<%}%></h3>
                <%for(const skill of skills){%>
                    <p>
                        <%if(lang == "fr"){%>
                            <%=skill.fr%>
                        <%}else{%>
                            <%=skill.en%>
                        <%}%>
                        <span class="right">
                            <%for(let i=0 ; i<skill.level ; i++){%>
                                <span class="dot red"></span>
                            <%}%>
                            <%for(let i=0 ; i<5-skill.level ; i++){%>
                                <span class="dot white"></span>
                            <%}%>
                        </span>
                    </p>
                <%}%>
            </div><br/>
            <div id="softwares">
                <h3><%if(lang == "fr"){%>LOGICIELS<%}else{%>SOFTWARES<%}%></h3>
                <%for(const software of softwares){%>
                    <p>
                        <%=software.name%>
                        <span class="right">
                            <%for(let i=0 ; i<software.level ; i++){%>
                                <span class="dot red"></span>
                            <%}%>
                            <%for(let i=0 ; i<5-software.level ; i++){%>
                                <span class="dot white"></span>
                            <%}%>
                        </span>
                    </p>
                    <%}%>
            </div><br/>
            <div id="technologies">
            <h3>TECHNOLOGIES</h3>
                <%for(const technologie of technologies){%>
                    <p>
                        <%=technologie.name%>
                        <span class="right">
                            <%for(let i=0 ; i<technologie.level ; i++){%>
                                <span class="dot red"></span>
                            <%}%>
                            <%for(let i=0 ; i<5-technologie.level ; i++){%>
                                <span class="dot white"></span>
                            <%}%>
                        </span>
                    </p>
                <%}%>
            </div><br/>
            <div id="hobbies">
                <%if(lang == "fr"){%>
                <h3>CENTRES D'INTERET</h3>
                <p>
                    Jeux Vidéos
                </p>
                <p>
                    Séries TV
                </p>
                <p>
                    Taekwondo
                </p>         
                <p>
                    Culture du web
                </p>       
                <%}else{%>
                <h3>HOBBIES</h3>
                <p>
                    Video Games
                </p>
                <p>
                    TV Series
                </p>
                <p>
                    Taekwondo
                </p>         
                <p>
                    Web culture
                </p>      
                <%}%>
            </div><br/>
        </td>
    </tr>
</table>
